.game-table {
  display: grid;
  height: 800px;
  width: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);

  @media screen and (max-width: 1200px) {
    height: 700px;
    width: 350px;
  }

  @media screen and (max-width: 1000px) {
    height: 500px;
    width: 250px;
  }

  @media screen and (max-width: 600px) {
    height: 400px;
    width: 200px;
  }

  @media screen and (max-width: 450px) {
    height: 300px;
    width: 150px;
  }

  @media screen and (max-width: 350px) {
    height: 300px;
    width: 150px;
  }
}
