<mat-card class="exception-dialog mat-elevation-z0">
  <mat-card-title class="title">
    {{ data.message }}
    <mat-icon
      class="icon"
      [ngClass]="data.informationDialogType === 'win' ? 'win' : 'lose'"
      >{{ icon }}</mat-icon
    ></mat-card-title
  >
  <mat-card-content class="dialog-content">
    <p>{{ "content.dialog-content" | translate }}</p>
  </mat-card-content>
  <mat-card-actions class="btns-container">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      {{ "buttons.yes" | translate }}
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
      {{ "buttons.no" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
