.single-game-field {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px gray;
  cursor: pointer;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;

  span {
    height: 100%;
    width: 100%;
  }
}


